/* Body */

body {
    font-family: ARial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Header */

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* Hero */
.hero{
    background-image: url("https://tse1.mm.bing.net/th/id/OIP.E6MF-qPdYCsbd4ZYMEkx_AHaEo?rs=1&pid=ImgDetMain&o=7&rm=3");
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 20px;
}
.hero h1{
    font-size: 5em;
}

/* Featured post */
.featured-post {
    display: flex;
    padding: 20px;
    background-color: lightgrey;
}
.featured-post img{
    width: 50%;
    margin-right: 20px;
}
.featured-post div{
    flex: 1;
}
.recent-posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.recent-post{
    width: 30;
    margin-bottom: 20px;
}
.recent-post img{
    width: 100%;
}

/* About Me */
.about-me{
    padding: 40px 20px;
    background-color: lightskyblue;
    text-align: center;
}
.about-me img {
    border-radius: 50%;
    width: 150px;
    margin-bottom: 20px;
}
.contact {
    padding: 40px 20px;
    text-align: center;
}


/* Footer */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

footer a{
    color: white;
    margin: 0 10px;
}

img {
border: 2px solid gray;
}
